'apache-airflow==2.10.5' \ --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.9.txt"
apache-airflow-providers-postgres==5.7.0
psycopg2-binary==2.9.9
pandas==2.1.4
sqlalchemy==1.4.54
requests==2.31.0
python-dotenv==1.0.0
numpy==1.26.3
yfinance==0.2.55